[2014-08-27 19:54] leahbannon opened #1 "Basic Project Info"
Basic info to display about each project:
- Name
- Short description
- Date of last public demo/upcoming demo
- Contact info
- Rough start date
- Client
- License(s)
- Blog posts about the project
- API 1st project? (yes/no) (link to API docs)
- IAs/MOUs

[2014-08-27 19:55] leahbannon opened #2 "GitHub Info"
Possible info to display about each project from GitHub
- # of commits
- Most recent commit
- Languages
- # Stars, Watching
- Pull requests
- # of Pull requests from non-18Fers
- # Issues, # issues closed

[2014-08-27 19:55] leahbannon opened #3 "Cost info"
Info related to cost to possibly display for each project
- Cost reimbursable? (yes/no)
- Utilization rate
- #FTEs per week

[2014-08-27 19:57] leahbannon opened #4 "Project Stage/Status"
- Discovery
- Alpha
- Beta
- Live
- Major project milestones

([Similar to gov.uk's](https://www.gov.uk/transformation) -> they also have great descriptions of each stage.)

[2014-08-27 19:58] leahbannon opened #5 "Display Analytics for Each Project"
Possibly analytics to display for each project:
- Visitors
- Bounce rate

Show as graph over time?

[2014-08-27 20:00] leahbannon opened #6 "Dashboard examples"
- [gov.uk/transformation](https://www.gov.uk/transformation)
- [pinterest board](http://www.pinterest.com/leahbannon/dashboard/)

[2014-08-27 20:01] leahbannon opened #7 "Interviews: Who is doing this well?"
- gov.uk

[2014-08-27 21:01] leahbannon commented on #3
Also explain "cost reimbursable" and our model

[2014-08-27 22:05] meiqimichelle commented on #6
- https://econsultancy.com/blog/62844-24-beautifully-designed-web-dashboards-that-data-geeks-will-love#i.13ec5qb16pse8s

[2014-08-28 17:31] leahbannon commented on #3
@aaronsnow proposes posting our labor (hourly) rates

[2014-08-28 19:14] konklone commented on #3
:+1:

[2014-08-28 22:45] gbinal commented on #3
I gotta admit that I'm not a huge fan of pay transparency for the heck of
it.  If we have real, brass tacks reasons, that's one thing, but
#justcauseitsopen isn't a good one in this instance.

---

c - 205.541.2245
Sr. API Strategist
Team 18F - GSA
- /Developer Program https://18f.github.io/API-All-the-X/
- US Government APIs listserve
  https://groups.google.com/forum/?fromgroups#!forum/us-govern

[2014-08-29 02:25] aaronsnow commented on #3
Just for clarity: I'm not advocating salary transparency (at least not in
this context). I'm advocating publishing the rate card we use to charge our
clients.

On Thu, Aug 28, 2014 at 6:45 PM, Gray Brooks notifications@github.com
wrote:

##

Aaron Snow
18F https://18f.gsa.gov/ Deputy Executive Director, Delivery
aaron.snow@gsa.gov
202-631-4667

[2014-08-29 17:57] leahbannon opened #8 "Research open sourced dashboards"

[2014-08-29 18:52] leahbannon commented on #5
Need to make sure we include space for notes - this data can be very unhelpful/confusing without some context (e.g., spike and then drop for notalone.gov matches VP's announcement and press coverage)

[2014-08-29 18:55] gbinal commented on #2
For ideas, here are two great mashups (whose code we could also probably put to good use).
- http://ada.mbecker.cc/USAxGITHUB/
- http://www.govcode.org

[2014-08-29 18:57] gbinal commented on #1
Some loose ideas on how to manage the text - https://github.com/18F/18f.gsa.gov/issues/113

[2014-08-29 19:00] gbinal commented on #5
@leahbannon - agreed.

Also - a good bit of notes on this are in this issue - https://github.com/18F/18f.gsa.gov/issues/90

[2014-08-29 19:08] gbinal commented on #2
Also, on a lighter level, there's some discussion here but I think it's less helpful.

https://github.com/18F/18f.gsa.gov/issues/61#issuecomment-42870316

[2014-09-02 21:34] leahbannon opened #9 "Figure out tech stack we can use (ATO)"

[2014-09-05 15:29] leahbannon opened #10 "Name, short description, client, link to project"
Breaking out #1

[2014-09-05 15:30] leahbannon opened #11 "Date of most recent & next public demo"
breaking out #1

[2014-09-05 16:43] leahbannon opened #12 "contact info"
breaking out #1

[2014-09-05 16:43] leahbannon opened #13 "IAs/MOUs"
breaking out #1

[2014-09-05 16:44] leahbannon opened #14 "API mention"
Something that highlights projects using API-first strategy, api.data.gov, etc.

(breaking out #1 )

[2014-09-05 16:45] leahbannon opened #15 "links to blog posts about the project"
breaking out #1

[2014-09-05 16:46] leahbannon opened #16 "list, link to licenses in use"
breaking out #1

[2014-09-05 17:54] leahbannon opened #17 "basic github: # forks, # stars, # issues"
breaking out #2

[2014-09-05 17:55] leahbannon opened #18 "github: # commits, most recent commit"
breaking out #2

[2014-09-05 17:56] leahbannon opened #19 "github: # pull requests from non-18Fers"
breaking out #2

[2014-09-05 17:57] leahbannon opened #20 "tech stack/languages"
could pull languages from github API, might not want to, though

(breaking out #2)

[2014-09-05 18:01] leahbannon opened #21 "rolled up github stats"
inspiration: http://nav.co/company/

ex: "In January, we pushed x # commits."

[2014-09-05 18:38] leahbannon commented on #5
- total visits
- % mobile traffic
- avg time on page
- avg pages/visit
- avg visit duration
- traffic type (referral, organic, direct, search, other)
- new vs. returning visitors

[2014-09-05 18:39] leahbannon commented on #5
Build with Google Analytics API as something that is easily separated and forked by other agencies to share their analytics?

[2014-09-05 19:27] gbinal commented on #5
Starting to take crack at this and will be reaching out to @RobertLRead and Greg when he's onboard.

[2014-09-05 21:19] leahbannon commented on #14
Deciding this should go elsewhere

[2014-09-05 21:19] #14 closed, assigned to nobody

[2014-09-05 21:59] leahbannon opened #22 "whiteboarding..."
![img_1847](https://cloud.githubusercontent.com/assets/4323988/4172377/d214d842-3547-11e4-94c9-6e09e79665f9.JPG)
![img_1848](https://cloud.githubusercontent.com/assets/4323988/4172378/d21b8f70-3547-11e4-989e-5d6c90d140b4.JPG)
![img_1849](https://cloud.githubusercontent.com/assets/4323988/4172376/d2115e9c-3547-11e4-9948-b1f726502edc.JPG)

[2014-09-05 22:06] leahbannon commented on #10
Make sure the basic description clearly explains who the user is and why they benefit from this.

[2014-09-05 22:08] leahbannon opened #23 "status"
Is the project on track? Is it behind? Is something blocking it? red/yellow/green status indicator

[2014-09-05 22:09] leahbannon opened #24 "staff on the project"
Who is working on this project? Little profile images?

[2014-09-05 22:10] leahbannon commented on #15
link to tags on tumblr?

[2014-09-08 15:58] leahbannon commented on #5
For your viewing pleasure, my super high-tech architecture concept: #22 (see number 3)

[2014-09-08 17:15] leahbannon commented on #3
@polastre idea: breakdown hour percentages by time spent on dealing with PRA, ATO, hacking bureacracy, etc.

[2014-09-08 17:19] leahbannon commented on #5
also possible to incorporate stream of search terms, etc., similar to GDS?

[2014-09-08 18:52] polastre commented on #3
My point is we should show the impact we're making rather than how much we're costing... just my 2¢

[2014-09-10 15:35] gboone commented on #10
Would we be opposed to putting the projects.json file into the `_data` directory so we can use jekyll to pull that data instead of javascript? If you're not sure what I mean by that: http://jekyllrb.com/docs/datafiles/ explains how to add a dataset. Then every time we generate the site it will autoload the project data from the json file.

[2014-09-10 15:50] RobertLRead commented on #10
Sounds like a good idea to me --- I have no Jekyll experience---I assume
you know better than I do how to do this.  Please think of yourself as the
lead engineer---I just put a little work into getting it ready for you.

On Wed, Sep 10, 2014 at 10:35 AM, Greg Boone notifications@github.com
wrote:

##

Robert L. Read, PhD
Presidential Innovation Fellow, 2013

[2014-09-10 16:01] leahbannon commented on #10
Yes, please do this! Thanks.

[2014-09-10 16:28] gbinal commented on #10
+1

[2014-09-11 00:43] gboone commented on #3
So, being new and all, I'm not sure what to do with this and it sounds like there's a bit to be resolved yet. Once we're set on how we want to approach this, integrating it with the dashboard should be pretty trivial using the same approach as #10.

[2014-09-11 01:01] leahbannon commented on #3
Good call, we need to hold on this, anyway. Thanks.

On Wednesday, September 10, 2014, Greg Boone notifications@github.com
wrote:

##

##

Leah Bannon
@18F http://twitter.com/18F Product Manager
@leahbannon http://twitter.com/leahbannon

[2014-09-11 13:56] #10 closed, assigned to nobody

[2014-09-11 15:10] meiqimichelle opened #26 "Add config.yml"

[2014-09-11 15:11] meiqimichelle opened #27 "Clean up Jekyll structure"
- [ ] add Sass
- [ ] create assets directory
- [ ] move appropriate files/directors to assets and update Jekyll to reflect new file structure

[2014-09-11 15:17] meiqimichelle opened #28 "Add favicon"

[2014-09-16 23:57] leahbannon commented on #15
@gboone Hey where are we on getting tagging working? You said that's almost done, right?

[2014-09-17 00:01] leahbannon commented on #24
Contractor support?

[2014-09-17 13:14] gboone commented on #15
Yeah, I have it working locally. It doesn't seem to be working on the staging server yet but I'm looking into that now.

[2014-09-17 13:33] gboone commented on #15
Actually, it is working on staging, but the page layout looks a little wonky.

[2014-09-17 22:54] meiqimichelle commented on #27
Essentially done because this is merging with the 18F website repo. Closing.

[2014-09-17 22:54] #27 closed, assigned to meiqimichelle

[2014-09-17 22:55] meiqimichelle commented on #26
This is done, as the dashboard will now use the 18F site structure and config.

[2014-09-17 22:55] #26 closed, assigned to meiqimichelle

[2014-09-17 22:55] meiqimichelle commented on #28
Done, because the dashboard will use the 18F site structure and favicons.

[2014-09-17 22:55] #28 closed, assigned to meiqimichelle

[2014-09-17 23:29] leahbannon opened #31 "project impact: qualitative #"
Impact measured by number of [potential?] citizens impacted, e.g. 50 million applicants per year

[2014-09-17 23:44] leahbannon opened #32 "link to github repo"
breaking this out of #17

[2014-09-17 23:46] leahbannon commented on #32
displayed as octocat icon?

[2014-09-17 23:47] leahbannon commented on #32
also link to twitter accounts as bird icon for projects that have it?

[2014-09-18 00:55] meiqimichelle commented on #4
First version live via https://github.com/18F/18f.gsa.gov/pull/180.

@gboone This status pulls from a value in the project json file you created. I'd like the box it lives in to change color based on the value. Can you help me figure that out? It should just be a javascript insert class sort of thing, I hope.

[2014-09-18 00:55] leahbannon commented on #13
What do we need to do to figure out if we can post these? Do we need to work with each client individually? @aaronsnow

[2014-09-18 00:56] meiqimichelle commented on #12
This might be generic email address for the project, if it exists, or other methods of interaction on the project.

[2014-09-18 01:08] meiqimichelle commented on #5
Link to relevant conversation on code solutions: https://github.com/18F/analytics/issues/4#issuecomment-55612874

[2014-09-18 01:14] meiqimichelle commented on #32
Github link done via https://github.com/18F/18f.gsa.gov/pull/180

[2014-09-18 16:15] leahbannon opened #33 "clean up json, switch to key: values"

[2014-09-18 17:32] quepol opened #34 "legend for project status"
- create a legend for project status (discovery, alpha, beta, etc.)
- color code each status type

[2014-09-18 17:38] leahbannon opened #36 "embed civic issues tracker on each project page"
Embed civic issues tracker on each project page once they add 18F. ht @codeforamerica @ondrae

[2014-09-18 18:17] leahbannon opened #37 "Major project milestones/wins"
breaking out from #4

[2014-09-18 23:49] leahbannon commented on #36
http://www.codeforamerica.org/geeks/civicissues

[2014-09-18 23:51] leahbannon commented on #36
Also link to @RobertLRead's blog post: http://18fblog.tumblr.com/post/94543290971/the-contributors-guide-to-18f-code-for-the-common

[2014-09-29 20:50] meiqimichelle opened #39 "Clean up repo"
- Delete old stuff
- Clean to match 18f.gsa.gov structure

[2014-09-29 23:46] #39 closed, assigned to nobody

[2014-09-29 23:49] meiqimichelle opened #42 "Icon font display on local and live"
To use the font file on gh-pages, we have to specify the full path to the files. Usually this is done through a Jekyll mustache dealy so it can be easily switched for local versus live. However, for the font as it is currently structured, there is a path in a css file, which Jekyll does _not_ parse. This means we have to hard-code the entire path and choose whether to have it working locally or li

[2014-09-30 15:44] gboone commented on #42
Is this a related problem? I get the following console message about the font file on a local build:

[code]

[2014-09-30 16:33] meiqimichelle commented on #42
Probably, since we're currently telling the font file explicitly to load from github.io rather than local.

[2014-10-01 06:34] konklone opened #50 "Site not ready to be run under HTTPS"
If you visit https://18f.github.io/dashboard/, you'll see a ton of warnings in the console - fonts won't load, and the GovCode API can't be hit.

The GovCode API thing is a blocker, unless you proxy it somehow - its URL is `http://api.govcode.org` and it doesn't respond to `https://`, so it can't be fetched from an `https://` page until it does. You could proxy all requests through nginx or someth

[2014-10-01 15:17] meiqimichelle commented on #50
@konklone the font thing is a known issue. See #42. However, thinking about it now with a fresh brain, even if #42 is not fully addressed, I should be able to change those paths to relative to gh-pages (I hope). So, add `baseurl` path but not `http://18f.github.io`. I will look into that. Thx!

[2014-10-01 15:40] meiqimichelle commented on #50
Okay, changed the font.css to relative in #53 and it doesn't seem to have broken anything. Good. This does not resolve #42, but at least helps on this issue!

[2014-10-01 17:34] janearc opened #54 "asdlfkjasdflkjasdf;jklasfd;jksdfj;"

[2014-10-01 17:34] #54 closed, assigned to nobody

[2014-10-01 23:42] leahbannon opened #56 "Non-exhaustive list of people/groups to reach out to for feedback"
Capturing a few things before I forget...
- [ ] Open Data Biweekly, open-data listserv
- [ ] Sunlight
- [ ] CFA fuzzies

[2014-10-01 23:45] konklone commented on #56
- [ ] https://github.com/government
- [ ] government-open-source listserv
- [ ] us-government-apis listserv
- [ ] sunlightlabs listserv (maybe what you meant)

[2014-10-02 02:51] dlapiduz commented on #50
@konklone thanks for the ping. The govcode api now supports https (you need to change the url since http is also available).

[2014-10-02 10:55] webmaven commented on #56
- [ ] Alexander Howard @digiphile
- [ ] Steve Ressler @govfresh
- [ ] Jon Udell @judell
- [ ] Phil Windley @windley
- [ ] Simon Wardley @swardley
- [ ] Carmen Medina https://twitter.com/milouness/
- [ ] GovLab @GovLab
- [ ] EPIC https://www.epic.org/
- [ ] EFF @efforg
- [ ] Kingsley Idehen @kidehen
- [ ] Ade Oshineye @adewale

[2014-10-02 11:08] webmaven commented on #54
#$&$#$^_%$($_^(%#@@%_^%!%(^$^)&$_$#$@%@!

[2014-10-02 11:17] gboone commented on #50
I'll work on changing around the govcode api URLs today. Thanks @dlapiduz!

[2014-10-03 15:42] leahbannon opened #57 "document what each field in yaml file means in doc"

[2014-10-03 15:46] leahbannon opened #58 "basic page to describe phases"

[2014-10-08 00:08] meiqimichelle opened #64 "Add overall summary data to the top of dashboard home"
Info such as:
- total number of projects
- number of projects in each phase

[2014-10-08 14:13] leahbannon opened #66 "hide news link for projects w/o blog posts"

[2014-10-08 15:29] gboone commented on #57
Pretty sure this is done. https://github.com/18F/dashboard/blob/gh-pages/_data/projects.yml

[2014-10-08 15:32] #57 closed, assigned to leahbannon

[2014-10-09 19:55] leahbannon opened #75 "mobile issues"
- [ ] chevrons aren't working on iPhone/iPad Safari
- [ ] text overlapping

[2014-10-09 19:56] leahbannon commented on #75
![img_1966](https://cloud.githubusercontent.com/assets/4323988/4583070/4e88add4-4fee-11e4-9d78-16b578dcf27a.jpg)
![img_1967](https://cloud.githubusercontent.com/assets/4323988/4583072/4e91559c-4fee-11e4-9056-01fbac27e1cf.jpg)
![img_1968](https://cloud.githubusercontent.com/assets/4323988/4583071/4e8d08d4-4fee-11e4-95b1-fe267f5d58a6.jpg)

[2014-10-10 15:42] #32 closed, assigned to nobody

[2014-10-10 15:43] leahbannon commented on #31
Done

[2014-10-10 15:43] #31 closed, assigned to leahbannon

[2014-10-10 15:43] #4 closed, assigned to leahbannon

[2014-10-10 15:45] leahbannon commented on #17
We have a good working version of this on the sub-pages. @gboone: maybe you could open a new issue with the issues you're currently working on?

[2014-10-10 15:45] #17 closed, assigned to gboone

[2014-10-10 15:46] leahbannon commented on #15
This is implemented. Now working on remaining issue with this: #66

[2014-10-10 15:46] #15 closed, assigned to nobody

[2014-10-10 15:46] leahbannon commented on #12
Done on project pages

[2014-10-10 15:46] #12 closed, assigned to leahbannon

[2014-10-10 15:47] leahbannon commented on #37
Done on project pages

[2014-10-10 15:47] #37 closed, assigned to leahbannon

[2014-10-10 15:48] leahbannon commented on #24
I finished gathering the data on this (although some folks are missing because they're not on the site at all. Working on that...) Reassigning to implement on project pages... possibly as little b&w icons?

[2014-10-10 15:49] leahbannon commented on #20
Done on project pages

[2014-10-10 15:49] #20 closed, assigned to leahbannon

[2014-10-10 15:50] leahbannon commented on #16
Done on project pages

[2014-10-10 15:50] #16 closed, assigned to leahbannon

[2014-10-10 15:50] meiqimichelle commented on #24
Got it. Will check with @gboone on whether we worked out a way to pull from the 18F site team yml.

[2014-10-10 15:54] leahbannon commented on #58
This already existed #34

[2014-10-10 15:54] #58 closed, assigned to leahbannon

[2014-10-10 15:57] leahbannon commented on #33
@gboone fixed this with YAML file at https://github.com/18F/dashboard/blob/gh-pages/_data/projects.yml

[2014-10-10 15:57] #33 closed, assigned to leahbannon

[2014-10-10 18:39] leahbannon opened #80 "contact emails are currently going to github.com/[email address]"
Is this an issue with how I entered the data?

[2014-10-10 18:42] leahbannon opened #81 "Homepage links to "Code: see our work on GitHub" are 404s"
The links are going to 18f.github.io/dashboard/[github repo]

[2014-10-10 18:50] leahbannon opened #82 "license link doesn't work if LICENSE is not on master branch"
Ex: 18F/doi-extractives-data uses gh-pages branch

[2014-10-10 18:52] gboone commented on #17
Will do.

[2014-10-10 18:53] gboone opened #83 "Configure nginx to serve this repo at /dashboard"
Goal: https://18f.gsa.gov/dashboard serves this repo.

[2014-10-10 18:54] gboone commented on #66
I'll do a hackey JavaScript version of this for now and then work on a better solution further down the road.

[2014-10-10 18:57] leahbannon opened #84 "C2 project page isn't generating?"

[2014-10-10 19:02] meiqimichelle commented on #84
Probably that the slug in the yml file and the name of the html page don't match -- did we change any of those slugs in the recent updates to the data?

[2014-10-10 19:05] leahbannon commented on #82
also issue with /Developer Program: https://github.com/18F/API-All-the-X/blob/gh-pages/LICENSE.md

[2014-10-10 19:05] meiqimichelle commented on #80
I'll take a look. I had it set to detect if there was an '@' in the contact field and then make the link an email address instead of a normal link, but maybe other updates changed the way that path works, and made my solution not work. Will investigate :)

[2014-10-10 19:23] gboone commented on #24
In theory there's a way to do it. All depends on whether the JSON file generated with 18F/18f.gsa.gov#296 is served correctly. Another thing I hope to troubleshoot with nginx configs.

[2014-10-10 19:23] gboone commented on #80
Ah, no, I'll take a look at it.

[2014-10-10 19:24] gboone commented on #81
Interesting. Looking into it.

[2014-10-10 19:28] gboone commented on #80
@meiqimichelle you beat me to it.

[2014-10-10 20:04] #81 closed, assigned to gboone

[2014-10-10 21:51] meiqimichelle opened #86 "Design primary/secondary partner view"
- Take out (s) and make it magic (detect number of partners and add)
- Create slot for secondary folks in design.

[2014-10-10 22:06] leahbannon opened #87 "Send an email to everyone at 18F telling them to make sure it's all good"

[2014-10-10 22:06] leahbannon opened #88 "Find tags for all blog posts about projects"

[2014-10-10 22:08] leahbannon commented on #66
New plan, as discussed: Create data type in yaml file in which we can list the blog tags manually. If no tags are listed, hide the text/link to blog posts.

[2014-10-14 04:22] meiqimichelle commented on #80
My filter isn't working, that is the problem. I'm apparently having trouble with filters in general -- getting strange behavior, I must be doing something wrong. @gboone feel free to you, might be obvious where the issue is.

[2014-10-14 04:25] meiqimichelle commented on #86
#89 creates the slot and removes the 's' on the project pages (well, dynamically adds/removes). I could not recreate this dynamic effect on the dashboard home, not sure why. @gboone can you take a look?

[2014-10-14 04:28] meiqimichelle commented on #84
@leahbannon this page is generating for my locally now, not sure why it was gone or why it re-appeared :-/ Hopefully this will carry through when #89 is merged.

[2014-10-14 04:40] meiqimichelle commented on #34
I started a branch for this called project-description-page, but @gboone I couldn't figure out how to get it to display. I'm not sure how you did the sub-page folder business. Right now the page is called status.html and is just in root (...which I also can't display from for unknown reasons).

[2014-10-14 04:54] meiqimichelle commented on #75
Addressed with #90.

[2014-10-14 14:43] gboone commented on #86
The dynamic 's' thing should be good to go in #89 now.

[2014-10-14 14:52] gboone commented on #82
Plan: create an optional licenseBranch field in the YAML.
Looks like this:

[code]

If you put a branch name in there it will override the default `master` branch.

[2014-10-14 14:57] gboone commented on #82
Better(?) idea:

[code]

Example

[code]

I think that will give us `license => {doi-extractives-data => {cc0, gh-pages}}`

[2014-10-14 15:25] gboone commented on #82
Even though it adds more fields to the yml file, I think the first plan will be easier template side.

[2014-10-14 15:36] #80 closed, assigned to gboone

[2014-10-14 15:43] meiqimichelle commented on #86
Awesome! That covers both the points in this issue so closing.

[2014-10-14 15:43] #86 closed, assigned to meiqimichelle

[2014-10-14 16:42] gboone commented on #34
Do you have it as a fully separate page or a template in the `_includes/` directory that we just drop in to the project.html layout? (Also, have you pushed branch up for this yet?)

[2014-10-14 16:49] meiqimichelle commented on #34
I just made it a fully separate page (based on the `index.html` page, which is based on `bare` template). The branch should be there: https://github.com/18F/dashboard/tree/project-description-page

[2014-10-14 19:32] #82 closed, assigned to gboone

[2014-10-14 19:42] gboone commented on #84
This is staggeringly strange. It's generating locally but not [on GH pages](http://18f.github.io/dashboard/project/C2/)

[2014-10-14 19:43] gboone commented on #34
Closed by #93. http://18f.github.io/dashboard/stages/

[2014-10-14 19:43] #34 closed, assigned to leahbannon

[2014-10-14 19:44] gboone commented on #66
Okay, I'm going to build this in so it works once we have #88.

My plan is to expect the tags to come in as a comma separated list on a field called `tags` like:

[code]

[2014-10-14 19:48] meiqimichelle commented on #84
So strange! Maybe conflicting...something?? myRA is also still behaving strangely -- it loads, but loads empty.

[2014-10-14 19:53] meiqimichelle commented on #84
Ok, fixed the myRA problem -- capitalizations didn't match between yml title and html project page name.

[2014-10-14 21:43] #66 closed, assigned to gboone

[2014-10-15 00:27] meiqimichelle commented on #64
See PR #98 for basic, static implementation of # of projects in each phase.

[2014-10-15 13:23] gboone commented on #84
Closed via #99

[2014-10-15 13:24] #84 closed, assigned to gboone

[2014-10-15 17:31] leahbannon opened #100 "Feedback from demo day"
Some brief observations...
- We should get it up on the real site soon... I'm thinking once we fix the responsive design and give product leads a final warning
- People are really interested in stages. One user kept trying to view the projects by stage (trying to click on discovery). I'll try to get more stage info asap... perhaps we should create individual pages for the stages that describe the

[2014-10-15 17:37] meiqimichelle commented on #100
Woo feedback!

Some notes:
- I would also really like to add filtering to that table based on alphabetical order or stage. I know how to do it (kind) with JS, but I'm not sure how it interacts with Jekyll.
- gov.uk has a page per stage with lots of info. That would be great -- do we have content?
- demo sites, I didn't even think of that! of course! We should def. think about more visual touch-it-

[2014-10-15 17:44] meiqimichelle opened #101 "Refine colors/styles"
No need to stick with the gray/blue/green/red stage colors. Work with Jen on next phase of color pallet for the remainder of the site. In particular concerned about the gray (which is kinda a non-choice) and green (which turned out to be a default Bootstrap button color and was not a design choice in the original 18f site).

[2014-10-17 14:11] gboone commented on #24
Okay, 18F/18f.gsa.gov#296 was merged and we should be able to pull team data out of 18f.gsa.gov soon. I'm going to get something going on this that pulls out of staging just to get something in front of @meiqimichelle

[2014-10-17 20:12] leahbannon opened #107 "talk to everyone about civic issue tracker"

[2014-10-17 20:13] #87 closed, assigned to leahbannon

[2014-10-20 14:09] #75 closed, assigned to meiqimichelle

[2014-10-20 15:15] gboone commented on #64
Are we calling this done as of #98?

[2014-10-20 15:16] gboone commented on #21
Love the staff map at nav.co/company too. Worth remembering for 18f.gsa.gov.

[2014-10-20 19:31] meiqimichelle commented on #64
Sure.

[2014-10-20 19:31] #64 closed, assigned to nobody

[2014-10-20 20:08] #24 closed, assigned to meiqimichelle

[2014-10-21 19:38] leahbannon commented on #88
Projects on dashboard and their blog tags:

myRA: :(
peacecorps:
FOIA: foia
FEC: fec
EITI: eiti
CAP: :(
fbopen: fbopen
mirage: :(
api.data.gov: api
/developer: /developer
midas: midas
myusa: :(
myUSCIS: :(

[2014-10-21 21:11] leahbannon opened #110 "project phase descriptions (discovery/alpha/beta/live)"
Post initial draft of our own definitions/criteria for each phase.  http://18f.github.io/dashboard/stages/

[2014-10-22 19:08] leahbannon commented on #88
Added EITI tag: https://github.com/18F/18f.gsa.gov/pull/321

[2014-10-22 19:09] leahbannon opened #111 "Push to live site"

[2014-10-23 00:33] leahbannon commented on #110
#115

[2014-10-23 00:33] #110 closed, assigned to leahbannon

[2014-10-23 00:37] leahbannon commented on #88
Over to you, @meiqimichelle: these are the only projects with tags:
- [x] FOIA: foia
- [x] FEC: fec
- [x] EITI: eiti
- [x] fbopen: fbopen
- [x] api.data.gov: api
- [x] /developer: /developer
- [x] midas: midas

[2014-10-23 00:39] #1 closed, assigned to nobody

[2014-10-23 00:39] #2 closed, assigned to nobody

[2014-10-23 15:10] gbinal opened #120 "github stats not coming through"
But just for one project: [api.data.gov](http://18f.github.io/dashboard/project/api-data-gov/).  I can't figure out what's up.

![screen shot 2014-10-23 at 11 09 45 am](https://cloud.githubusercontent.com/assets/633088/4755570/b7aac382-5ac6-11e4-817e-234d9d291f0e.png)

[2014-10-23 15:11] gboone commented on #120
I don't think it's just api.data.gov, it's any project not on GovCode. Ah, nm this is a different issue than the govcode one. Thanks for pointing it out, @gbinal

[2014-10-23 15:13] gbinal commented on #120
It appears that every other project on the dashboard has stats coming through.

[2014-10-23 15:27] leahbannon commented on #120
Looks like it's just Mirage and api.data.gov that aren't getting data, right?

[2014-10-23 15:30] gboone commented on #120
Dashboard only supports 18F repos at the moment, so that's why we're not seeing anything for the NREL repo. (The latter must have been added recently?) But I have a fix for the api.data.gov coming up shortly (jQuery selector problem).

Mirage doesn't appear to be on GovCode, so that's why we are missing data for that one.

[2014-10-23 15:31] gbinal commented on #120
Mirage is working for me.

![screen shot 2014-10-23 at 11 31 32 am](https://cloud.githubusercontent.com/assets/633088/4755961/b4c41008-5ac9-11e4-9da3-709c4d2c916c.png)

[2014-10-23 15:32] leahbannon commented on #120
Ah, well that would explain Mirage. It's working, just not accurate.

[2014-10-23 15:36] gboone commented on #120
@gbinal grabbing data for the NREL will have to wait. I just don't have time to spend on that right now. Sorry, but api.data.gov should start to show again after #121.

[2014-10-23 15:42] gboone commented on #111
By live site this means 18f.gsa.gov/dashboard, right?

[2014-10-23 15:49] leahbannon commented on #111
Yes, but let's huddle and review everything before.

[2014-10-23 17:05] #120 closed, assigned to nobody

[2014-10-23 18:11] konklone commented on #50
Looks good to me -- I see 0 console warnings when I visit https://18f.github.io/dashboard/ and open the developer console.

[2014-10-23 18:15] konklone opened #124 "Use project description for open graph tags"
Here's me linking to a project page in Slack:

![og tags](https://cloud.githubusercontent.com/assets/4592/4758572/837b9036-5ae0-11e4-9001-51aeb9b6f742.png)

It's got the project title in there, but not the project description. (Which right now sort of implies that myRA *is* 18F. :smile_cat:)

[2014-10-23 18:17] konklone opened #125 "Link to partner agency?"
This seems begging for a link to Treasury's website:

![og tags](https://cloud.githubusercontent.com/assets/4592/4758628/d94450ac-5ae0-11e4-99c5-9a0d25599d8e.png)

It might be less necessary for Treasury, but for lesser-known partners it could be a help.

[2014-10-23 18:27] gbinal opened #126 "As a viewer of the dashboard, I would like the projects to be displayed in status order"
Just curious, but is there any order to the list of projects?

@NoahKunin and I were just discussing and thought that by phase made sense.  Perhaps starting with discovery.

I'm happy to reorder in a pull request if folks agree.

[2014-10-23 18:51] meiqimichelle commented on #126
Right now there is no order, although we have talked about this. If my memory serves, the discussion points were:
- Because we have so few projects so far (more very soon, we hope!), we weren't sure if ordering by status at this point makes sense. Perhaps ordering manually by 'most complete data' or 'most compelling' makes more sense until our /dashboard really gets past MVP.
- For the future, we

[2014-10-23 18:59] NoahKunin commented on #126
Strong vote to order by status in current version, deal with complexity
later.

On Thu, Oct 23, 2014 at 2:51 PM, Michelle Hertzfeld <
notifications@github.com> wrote:

##

Noah Kunin - Delivery Architect
@noahkunin http://twitter.com/noahkunin | @18F https://twitter.com/18F

[2014-10-23 19:08] gbinal commented on #126
+1

@meiqimichelle - my suggestion would be to pick some order (any order) to begin with since some X percent of visitors will ask themselves the question of what order these are in, not be able to detect one, and be confused.  Better to have any order than no order.

[2014-10-23 23:56] meiqimichelle commented on #101
Closed with #128

[2014-10-23 23:56] #101 closed, assigned to meiqimichelle

[2014-10-23 23:58] meiqimichelle commented on #23
@leahbannon is this something different from stages?

[2014-10-24 15:02] leahbannon opened #129 "Add footer about contact us about dashboard"

[2014-10-24 16:00] leahbannon commented on #129
Possible text...

Questions? Feedback? Curious about getting dashboard for your agency? [Email us] or [open an issue] on GitHub.

1: 18f@gsa.gov
2: https://github.com/18F/dashboard/issues/new

[2014-10-24 16:01] leahbannon opened #131 "clean up (delete) branches"

[2014-10-24 16:03] leahbannon opened #132 "add 'alpha' tag to dashboard"
How can we do this without totally confusing everyone? Should dashboard be a project in the project list? Maybe include with solicitation for feedback/contact us?

[2014-10-24 16:07] meiqimichelle commented on #129
@leahbannon do you want this before go-live?

[2014-10-24 16:09] leahbannon commented on #50
@konklone are we good on this? can I close this issue?

[2014-10-24 16:09] gboone commented on #50
@leahbannon merge #122 and we're good. This should close itself.

[2014-10-24 17:41] meiqimichelle commented on #132
If we're going to add an alpha tag on the site, then I think it should be on the project list, too.

As for a tag on the site in general, Noah M. has a pretty non-intrusive version of the alpha tag we could use -- looks like a little gray alert at the top of the page.

[2014-10-24 17:55] meiqimichelle commented on #129
See #133 for initial commit.

[2014-10-24 18:12] #50 closed, assigned to gboone

[2014-10-24 19:07] meiqimichelle commented on #132
I added Noah's version of 'hey this site is in alpha' to the top of the page with the latest push to #133 . Picture is in that comment chain. What do you think @leahbannon ?

[2014-10-24 19:19] meiqimichelle commented on #132
Closed with #133

[2014-10-24 19:19] #132 closed, assigned to nobody

[2014-10-24 19:19] meiqimichelle commented on #129
Closed with #133

[2014-10-24 19:19] #129 closed, assigned to leahbannon

[2014-10-28 02:07] cscairns opened #140 "myRA Impact Description"
Change to:

For the millions of Americans who don't have access to employer-sponsored retirement plans. This includes roughly half of all workers and 75% of part-time workers.

[2014-10-28 16:26] NoahKunin commented on #126
Seeing no order and having gone into production, and seeing no competing PRs, going to put one in for status ordering.

[2014-10-28 16:54] gbinal commented on #126
+1

[2014-10-28 18:23] leahbannon commented on #140
As far as I can tell, this is the same, except for some grammar fixes. Sorry - what am I missing?

[2014-10-28 18:37] leahbannon opened #142 "update links listed in dashboard to https"

[2014-10-28 19:18] konklone opened #143 "Change URL on this repo to the production URL?"
The link at the top of the URL goes to GH Pages, but that's the dev domain now.

[2014-10-28 20:47] cscairns commented on #140
currently it says "employee-sponsored"...it's employer

[2014-10-29 21:07] leahbannon commented on #140
Will be fixed here #141

[2014-10-30 20:21] gbinal opened #144 "Support for non-18F repos"
Not sure why https://github.com/18F/dashboard/issues/120 was closed but happy to open this as a fresh issue.

On the [api.data.gov project page](https://18f.gsa.gov/dashboard/project/api-data-gov/), the stats from the api-umbrella repo don't come through.

![screen shot 2014-10-30 at 4 19 09 pm](https://cloud.githubusercontent.com/assets/633088/4851433/5ec84e04-6072-11e4-87e5-60d706fa3ed5.png)

[2014-10-30 20:26] gboone commented on #144
Mentioned in #120 [we only support repos in the 18F org for now.](https://github.com/18F/dashboard/issues/120#issuecomment-60257310) We'll leave this open but give it a better title.

[2014-10-30 20:29] gbinal commented on #144
Thanks - good correction, but +1 to leaving open and getting to one day.   In the meantime, I'll remove the NREL repo until it works.

[2014-11-05 15:50] gboone commented on #111
This is done.

[2014-11-05 15:50] #111 closed, assigned to gboone

[2014-11-05 15:51] gboone commented on #23
Can this be closed? My gut says there's more work to do on this one.

[2014-11-05 15:56] gboone commented on #42
This is done, right?

[2014-11-05 15:56] gboone commented on #83
Done. Proof: https://18f.gsa.gov/dashboard

[2014-11-05 15:56] #83 closed, assigned to nobody

[2014-11-05 16:04] #143 closed, assigned to nobody

[2014-11-05 16:09] meiqimichelle commented on #42
Well, we just gave up on running it locally ;) The code to comment/uncomment if you _do_ want to see it locally is in there tho (if we didn't delete it).

[2014-11-05 17:22] konklone commented on #42
I actually think this is workable -- I believe that CSS references to external files are relative to the location of the CSS file itself. So the CSS should be able to say `url(../fonts/18f-font.ttf)` and that should work in local, staging, and production, regardless of whether the site is mounted at `/dashboard` or `/`.

[2014-11-05 17:35] meiqimichelle commented on #42
Right -- the issue is that the font is on the `18f.gsa.gov` repo, not `/dashboard`. This is related to the 'how to we keep all the subpage styles in sync with main 18f styles if we're running in separate repos' problem.

[2014-11-05 17:36] meiqimichelle commented on #42
Oh, sorry -- I see what you're saying @konklone . Maybe -- we can try!

[2014-11-06 17:16] leahbannon opened #152 "check out dashboard and provide feedback"
18f.gsa.gov/dashboard

Open thread! Share your thoughts here!
- What are you interested in learning about 18F?
- Does dashboard provide that?
- Is it easy to find?
- What is confusing about dashboard?

[2014-11-06 17:18] leahbannon opened #153 "need feedback: analytics"
If we start releasing some of the data from google analytics from the sites we're building, what would you use it for? What would you actually use and find helpful?

[2014-11-06 18:32] jpyuda opened #154 "more descriptive link text"
The project stages page has four "learn more" links -- this can make for a sub-par experience for screen reader users, as many such users will have their screen reader read them all of the links on the page -- in a context like that, it's nearly impossible to know where the links go.

I suggest something more descriptive like "Learn more about the alpha stage.", etc.

[2014-11-06 18:44] gboone commented on #154
Huge thanks, @jpyuda, definitely a huge accessibility miss for us here.

[2014-11-07 16:16] coryamanda commented on #152
Looks really cool, but I did have a few suggestions.
- Sort the links on the main page by category (not sure how they're sorted now)
- When I click the link, I expect it to go to the projects rather than the definitions
- It'd be helpful to have a Q&A setup for the individual project pages. What are we building? Why are we building it? What is the problem we're solving?
- Organize the language in

[2014-11-07 16:18] meiqimichelle commented on #152
Good points! Thanks very much for the feedback! Keep it comin' if you think of anything else.

[2014-11-07 16:18] TaniaUllah commented on #152
Comments on the dashboard webpage:
- It took some time for me to realize the numbers indicated the # of projects in each phase.
- Clicking "discovery", "alpha", "beta", "live" should lead to the the list of projects
- Liked the "code" "metrics" "news" sections.

[2014-11-07 16:51] elainekamlley commented on #152
Working with a group of women here at the hackathon. Some feedback they had:
- Many feel like having more visualization of where each project would be more clear - like a progress bar
- Ditto to clicking on a phase should lead to a list of projects in under each stage
- A link to project stage definitions separate from the boxes.
- A search bar under phases could be useful for a user who wants to

[2014-11-07 16:53] gboone commented on #152
Thank you! This is excellent feedback so far. Keep it coming!

[2014-11-13 18:40] geramirez commented on #153
I've been looking into this issue for past week or so. Instead of building something into jekyll, we could build a proxy api that makes some data available to the public and other sites. Two options I've been playing around with:
1. [Google's Super Proxy](https://github.com/googleanalytics/google-analytics-super-proxy)
2. [a small app I've put together with Flask and Celery](https://github.com/18F

[2014-11-13 18:45] konklone commented on #153
I think the proxy API is actually the simplest possible thing, and let others worry about UX approaches to it later. Plus it's way more fun.

Also FWIW you can put the Flask app in the 18F org, it's okay to work on experiments in this org. =) How about making it `18f/analytics-proxy`?

[2014-11-13 18:52] gboone commented on #153
:+1: @konklone on the Flask app. Definitely seems simplest. @ramirezg I know you had mentioned that earlier, I haven't had time to look at it. Hoping to get to that soon.

[2014-11-14 17:19] adelevie opened #156 "Add FBOpen mobile app to impact for FBOpen"
Any thoughts on this?

[2014-11-14 20:05] leahbannon commented on #156
This is an interesting idea. I don't think it belongs in impact, but I was thinking it would be good to advertise our API first strategy in a few different ways, and this could be a great component of that. Legal might give us a hard time about advertising private companies on a gov site, though. @aaronsnow what do you think?

[2014-11-18 17:02] leahbannon opened #157 "change "metrics" to something more accurate"
ideas?
- more info
- more about the project
- details
- project info

[2014-11-18 17:02] leahbannon opened #158 "add air force project"

[2014-11-18 17:07] gboone commented on #157
I like details, personally.

[2014-11-21 14:56] #142 closed, assigned to leahbannon

[2014-11-21 21:19] aaronsnow commented on #156
I think it'd be awesome to have a roll/list somewhere of all the apps --
for-profit, not-for-profit, or gov -- that use the FBOpen API and/or
@amoose's widget. If we couch it that way, and encourage people to submit
pull requests to add their apps, I can't imagine anyone would object.

On Fri, Nov 14, 2014 at 3:05 PM, Leah Bannon notifications@github.com
wrote:

##

Aaron Snow
18F https://18f.gsa.

[2014-11-24 00:11] konklone opened #160 "Link from 18f.gsa.gov?"
Does the dashboard project want to be linked to from the main `18f.gsa.gov` page?

[2014-11-24 15:16] leahbannon commented on #160
We'd like to iterate on some user feedback first. Everyone scattered to new projects once we launched alpha. Hopefully we'll get something out in the next couple weeks.

[2014-11-24 15:36] leahbannon commented on #152
@shawnbot great feedback, thanks. :) couple questions:

I like that color scheme, but would the first yellowish color be too pale for the white font on top of it?

Totally agree; that's actually what those numbers represent. However, nobody I talk to seems to understand that's what the numbers mean. Any ideas on how to convey that without cluttering?

Had planned to add Google Analytics, etc., but

[2014-11-24 18:47] philipashlock commented on #152
Looks pretty great. I think there could be a bit more context for when someone clicks a link directly to a project page without ever visiting the frontpage. When you go directly to a project page, there's not much of a header or branding indicating what the site is and I think the label that indicates the discovery/alpha/beta/live stage could use more explanation and emphasis here as well.

[2014-11-24 22:49] konklone opened #162 "Looks like Mirage went to beta or live?"
It's up at https://mirage.gsa.gov now and looks great.

cc @jroo @kaitlin

[2014-11-25 17:40] jackiekazil opened #163 "FOIA team is not up to date"
FOIA team was missing a few names and we had some new additions.
Here is the list in last name alphabetical order: jackie, shashank, cm, majma, eric, gabriel, jess, victor

[2014-11-26 10:38] polastre opened #167 "Request: Identify/group what 18F has that is reusable/forkable"
18F has certain projects which can be forked, deployed in your own cloud, etc.  Other projects are really intended to just be deployed by 18F/USG.  When talking with other governments, the question often comes up is "what stuff has 18F built that I can reuse?"  Grouping this in a logical way would help encourage other organizations to join our community and pitch in.

Examples of projects that are

[2014-11-26 17:58] konklone commented on #167
I think 18F should definitely be identifying and promoting its reusable bits, because they'll just get lost in our GitHub repo.

Would this be better suited as part of an `/open` page on `18f.gsa.gov`? We want to describe our open source output and policies more clearly there already, I think.

[2014-11-26 19:28] gboone commented on #167
Love this idea and agree it'd be better as a page like `18f.gsa.gov/open`. I'll add it to the work @elainekamlley and I are doing on where the site should go.

[2014-11-27 01:29] polastre commented on #167
I'm generally against more slash `/` pages.  It would be nice if this could be handled by `/dashboard` or `/developer`, and I think it can.  I get lost with all the proposed `/` pages.

[2014-11-27 02:32] konklone commented on #167
There have been many proposed `/` pages, but right now only `/developer` and `/dashboard` have actually shipped. :smiley: (Though I just drafted a `/third-parties` page in https://github.com/18F/18f.gsa.gov/pull/399.)

I do want to do a `/open` in any case, I think it'll be important for our image and is a place to really hammer home our views and speak to a different crowd than our home page does

[2014-11-28 17:04] webmaven commented on #167
@polastre how would you want it handled by either `/developers` or `/dashboard`?

[2014-12-01 04:45] wslack commented on #152
I think a link to alpha site versions would be helpful (like the [MyRA](https://myra.treasury.gov/) site). The Project Stage Definitions has some unused whitespace and could be more dense, or perhaps make use of an icon to represent status.

I think something like the below would work, maybe with a vertical orientation for smaller width screens?
![project tracker screenshot](https://cloud.githubus

[2014-12-16 14:28] #163 closed, assigned to jackiekazil

[2014-12-30 18:10] gbinal opened #173 "Add 18F Consulting"
It seems like 18F Consulting should be an item on 18f.gsa.gov/dashboard.

cc @cscairns, @RobertLRead

[2014-12-30 18:15] meiqimichelle commented on #173
18F Consulting is a branch of 18F like PIF, seems like. It doesn't seem like PIF should be on dashboard, so....hmmmm.....

I feel like this gets back to our questions of what metrics are best to show impact. They might be project-based, but they might not be. Or, some of them might be project based, but not all. The UX work on the 18F site is thinking about these questions, too, and should have th

[2014-12-30 18:28] gbinal commented on #173
Odd - I would expect the opposite.  Given the project's goal and audience, it would seem the opposite to me: the dashboard does a disservice by not better reflecting what we are working on and how we are doing it. I actually would say PIF makes sense on the dashboard and that both it and 18F Consulting are projects of ours.

[2014-12-30 18:45] ultrasaurus commented on #173
Given that the dashboard shows software stages (alpha, beta, etc.) I assumed it was about software... or in other words, a dashboard for the 18F delivery team, not all of 18F (which includes external programs like PIF and other internal services like teamops)

Arguably, alpha and beta couple apply to programs, but I think that will make it more difficult to add detail to what the stages mean, whic

[2014-12-30 18:47] meiqimichelle commented on #173
What I mean is this:
PIF and Consulting are not projects, they are branches:
![imag0333](https://cloud.githubusercontent.com/assets/4827522/5581554/3dba2c60-9019-11e4-9c77-969d0798926f.jpg)

The way Dashboard is structured now, it is tracking projects. It would not make sense to track Consulting and PIF as if they were projects -- we would need to track those branches at a project level as well.

[2014-12-30 21:17] gbinal commented on #173
Okay.  FWIW, that seems like an unnecessary limitation to me driven by a semantic.  If the goal of /dashboard is `Provide transparency and insight into 18F work and values.`, I'd think we'd want to reflect what 18F is doing.  It'd seem that most of the aspects we're using to give insight into the the projects would be just as useful to express for Consulting and PIF.

[2014-12-30 21:21] meiqimichelle commented on #173
Information architecture is not a semantic. Our site (18f.gsa.gov) is currently difficult to navigate and understand. Transparency != throwing all the information over a wall and hoping that it provides insight into what we're doing, as you know. We will provide info on Consulting and PIF, just not as part of the dashboard (as it is currently structured).

[2014-12-30 21:58] gboone commented on #173
@gbinal I get that but agree with @ultrasaurus and @meiqimichelle here. I'm not sure how we sum up all the work 18F Consulting is doing into a monolithic project we could represent on the dashboard. It might seem semantic, but it's also disingenuous to create a project called 18F Consulting and list every GitHub repo 18FC has as if they're all serving the same goals and partner agencies, have the

[2014-12-30 22:15] gbinal commented on #173
Interesting.  In that case, would it help the dashboard and its goals to remove the /Developer Program?  By this logic, that would seem an enhancement to it, right?

[2014-12-30 22:18] gboone commented on #173
I don't think so /Developer is a specific project targeted at a specific initiative, not unlike other projects represented on the dashboard. And the work can be reused and summarized by the code and design artifacts that constitute: http://18f.github.io/API-All-the-X/

[2015-01-13 15:32] ultrasaurus opened #178 "meta description tag should be based on page content"
https://18f.gsa.gov/dashboard/project/midas/

looks like this when posted on Slack:
![image](https://cloud.githubusercontent.com/assets/41906/5723084/235fdbb6-9af6-11e4-95dc-47e8741fc603.png)

assume it would be similar for Facebook / Twitter

We could update:
[code]
to include text from project description, instead of the generic 18F description.

[2015-01-13 15:49] ultrasaurus commented on #126
FYI: I just updated this according to comments, so it is easier to read in the list!  Feel free to change the title if I got it wrong :)

[2015-01-13 15:54] ultrasaurus opened #179 "As an editor, I would like to be able to edit a separate yml file for my project"
having a single projects.yml file collides with our workflow since we all tend to update them at once when @jroo reminds us to

[2015-01-13 15:58] gbinal commented on #126
Thanks, @ultrasaurus.  FWIW, I think status order or alphabetical order both work.  The confusing dynamic for this user is the dissonance of trying to find order.

[2015-01-13 16:27] ultrasaurus commented on #179
proposal:  when the projects.yml is read, also read all yaml files in a sibling projects/ directly and treat them if they were one giant yaml, then we don't have to change everything at once.

[2015-01-13 16:30] mbland commented on #179
That's very easy to do, given the [hash-joiner gem](https://rubygems.org/gems/hash-joiner). Question is, what lives in the "projects.yml" file, and what lives in "projects/"? Also, the directory name might have to be different; don't know what Jekyll will do with a collision between NAME.yml and NAME/.

[2015-01-13 16:33] ultrasaurus commented on #179
I suggested we leave projects.yaml just to ease migration.  Then whoever wants to (and new projects) could go in projects/ (or whatever we decide to call the directory).  But could change everything at once -- tho then we would want to wait till all the project data is updated this week and it kind of defeats my primary motivation :)

[2015-01-13 23:49] polastre commented on #167
@webmaven through filters/buttons on the dashboard page.  Basically the ability to group or limit results by different categories.

[2015-01-14 16:02] mbland commented on #179
Just had a chat with @gboone about his idea for importing `project.yml` files from individual 18F GitHub repositories. It seems like we could set up a `hookshot` job to listen for Webhooks from individual repos that all hit the same endpoint, e.g. `/deploy-project-update`. We can parse the payload to see whether a repo just updated its `project.yml`, and pull down a copy using a command/URL like:

[2015-01-14 16:23] gboone commented on #179
<strike>Worth looking into but I don't think it'll be a problem.<strike>

We should definitely leave `projects.yaml` in place until we're ready to do a bigger migration.

I'm not really sure what to do with #180 right now. The goal, as I see it, is to make updating these projects easier and less prone to merge conflicts. If we're still pushing YAML files to `data-private` product leads will still

[2015-01-14 16:37] ultrasaurus commented on #179
@gboone if two people edit two different files and each does a pull request, my experience is that there is no merge conflict -- having separate project files creates this opportunity for Product Leads who want to use that approach

I agree that I good additional step would be to pull the files from the project repo, but that could be an incremental improvement after this one

[2015-01-14 16:43] gboone commented on #179
@ultrasaurus Oh, totally. I meant if people are using GitHub's editor where they'll be unable to commit. (Example: I just tried to edit the team.yml file in `data-private` using the editor but couldn't save my changes because Michelle made two commits to the repo while I was editing.) In that case it's not merge conflicts, but definitely lost work.

[2015-01-14 16:51] gboone commented on #179
Just chatted with @jroo about use of GitHub's editor for these files. I'm strongly in favor of at least discouraging it, not sure how an all out ban could really be enforced, but anyone editing these files will have a much more predictable experience pulling down the latest changes, committing any necessary changes, pulling again just in case someone else made changes, and then pushing. Something

[2015-01-14 18:10] ultrasaurus commented on #179
@gboone regarding lost work, that will rarely happen if each product lead only changes one whatever.yml file

[2015-01-14 19:19] gboone commented on #179
As long as folks still follow a branch + pull request workflow, I suppose. I'll just have to get good at shaming anyone who commits directly to the staging branch.

[2015-01-15 19:28] ultrasaurus commented on #179
@gboone I actually think it shoud work with a direct commit, but maybe worth testing

[2015-01-20 18:37] webmaven commented on #167
:+1:

[2015-01-26 23:10] ultrasaurus commented on #179
@gboone are there outstanding questions on this pull request?  It would make my life as a product lead way easier.

[2015-01-27 14:37] gboone commented on #179
I understand how much easier this will make product lead's lives and apologize for this falling off my radar, all hands + 18f-site stuff took priority the last couple weeks.

There is at least one outstanding question in #180: will this create a situation where `_data/projects.yml` and a `_data/projects` both exist?

[2015-02-03 02:05] rjmajma opened #189 "When I click on a stage..."
Quick suggestion! One of the things I want to do when I check out the dashboard is see which products are in which stage. Normally, I click on a stage and expect to see each of the products in that stage. Right now, it takes you to an explanation of each of those stages.

Not sure if you've heard this from others, but knowing what projects are in each stage by organizing them via those stages is s

[2015-02-03 16:50] esgoodman commented on #189
+1 to this suggestion.
On Feb 2, 2015 6:05 PM, "Raphael Majma" notifications@github.com wrote:

[2015-03-02 18:34] aheld opened #197 "Metrics links all 403"
What are the /metrics/ links supposed to show?  I'm getting a 403 when I try to click through

[2015-03-02 18:38] gboone commented on #197
Looks like those links are broken, sorry about that, it should take you to each project's page. Thanks for the head's up!

[2015-03-02 18:45] #197 closed

[2015-03-06 14:41] gboone commented on #124
This should be closed as of #192

[2015-03-06 14:41] #124 closed

[2015-03-06 14:41] gboone commented on #178
This should be closed as of #192

[2015-03-06 14:41] #178 closed

[2015-03-25 17:39] #154 closed

[2015-03-26 16:36] phildini commented on #125
Looking at this ticket and trying to understand the ask, here.

On the dashboard home:
![dash-home-suggestion](https://cloud.githubusercontent.com/assets/710999/6851295/6ff6100c-d39b-11e4-9892-6076dfdd4841.png)

On a project detail:
![dash-detail-suggestion](https://cloud.githubusercontent.com/assets/710999/6851304/82ac51de-d39b-11e4-816d-1c9a1201ec30.png)

Is this what people had in mind?

[2015-03-31 17:25] gbinal opened #203 "add save ferris"

[2015-03-31 17:32] gboone commented on #203
paging @jpyuda is it work splitting this out of the "MyUSCIS Projects" collection?

[2015-04-01 13:16] jpyuda commented on #203
Save Ferris is not an independent project, but is in fact part of the broader work we're doing with USCIS on bringing all of their customer-facing experiences together. Given, especially, that a large part of this effort is based around the premise of _not_ treating different apps as different silos, but presenting them to customers as a unified front, it would be counterproductive to present them

[2015-04-01 17:10] phildini commented on #125
I dug into this more. In order to do this correctly, the data should come from the 18f/hub api. I have code ready for both 18f/hub and this repo that will solve this issue, but the data for hub comes from a private repo that I don't have access to, so I'm fairly stuck.

[2015-04-02 04:01] gbinal commented on #203
Reopening this issue with an idea for how to do represent all this well:  Add the new save ferris implementation as a project link on https://18f.gsa.gov/dashboard/project/uscis/.

It's standard on a lot of of the dashboard projects to include a links section and adding it would seem to make sense in that vein.

@gboone - I can't recall if there are instructions on how to file pull requests to the

[2015-04-02 13:40] gboone commented on #203
I'm fine with that tack but to be clear, whether and how Save Ferris is represented on the Dashboard is @jpyuda's decision. John, if you're down to include it I'm happy to.

To answer your question, @gbinal modifying projects for Dashboard involves sending pull requests to [18F/data-private](https://github.com/18F/data-private/) and changing the project's respective file in the projects repo there

[2015-04-02 13:45] gbinal commented on #203
Sounds great - thanks.

[2015-04-03 01:36] jpyuda commented on #203
@gboone let's spend some time next week to figure out how to holistically talk about the work we're doing.

[2015-05-07 01:03] NoahKunin commented on #173
Closing due to correct application of `wontfix`. 18F Consulting is a business line, not a project. 18FC does not do their work in the open. 18FC work occasionally becomes 18F Delivery work, and would then be listed in the dashboard.

[2015-05-07 01:03] #173 closed

[2015-05-07 01:04] NoahKunin commented on #203
Save Ferris is an internal codename. The Dashboard will update with the links that have become public, but that will be addressed not in this issue.

[2015-05-07 01:04] #203 closed

[2015-05-07 01:05] NoahKunin commented on #162
Will update.

[2015-05-07 01:05] #162 closed

[2015-05-07 01:05] NoahKunin commented on #160
It appears the Dashboard was left in `alpha` without a Product Owner. I'm going to submit myself tomorrow in Project Intake as the responsible executive for the 18F System Inventory.

[2015-05-07 01:05] #160 closed

[2015-05-07 01:09] NoahKunin commented on #156
Can't do, too much bureaucracy overhead, would _actually_ be an endorsement. This needs to be on a self-service / wiki platform instead (push to us instead of pull). Will contemplate when staff become available to extend the Dashboard.

[2015-05-07 01:09] #156 closed

[2015-05-12 00:00] jtag opened #207 "Consider adding "consulting" as a stage if this dashboard will include consulting projects."

[2015-06-02 18:57] gbinal opened #208 "Add Pulse to /dashboard"

[2015-06-02 19:06] gbinal commented on #208
Okay - I've got this lined up as a pull request - https://github.com/18F/data-private/pull/94.

cc @konklone, @juliaelman if either of you want to edit it.

[2015-06-02 19:29] juliasolorzano commented on #208
+1

[2015-06-05 19:16] gbinal opened #211 "Add analytics.usa.gov to dashboard"

[2015-06-12 18:38] gbinal commented on #211
Created yml file - https://github.com/18F/data-private/blob/master/projects/dap.yml

@mbland, @gboone, @yozlet, @wslack - who can get this to actually go live on /dashboard?

[2015-06-13 17:50] mbland commented on #211
18F/hub#316 opens https://hub.18f.gov/hub/api/projects/ to public (i.e. unauthenticated) access. #212 updates the `_data/import-public.rb` script to use this endpoint (so that a public Hub release isn't required as a prerequisite) and adds DAP to the Dashboard.

BTW, with all of the Hub out in the open on the table, I'm looking to streamline this further. See 18F/hub#211 (Midas integration) for ho

[2015-06-15 17:26] #211 closed

[2015-06-15 18:48] wslack opened #214 "Add display of project AKAs and external services to dashboard"
Per https://github.com/18F/data-private/issues/100 and https://github.com/18F/data-private/issues/101

[2015-06-15 19:30] yozlet opened #217 "Add frontend tests"
@wslack & I found (and @mbland fixed) a bug in the project page JS: #216

Given that new commits are already going through Travis, it'd be good to have it run some frontend tests to validate code such as the above. @mbland said that the Testing & Frontend Guilds are working on a standard/best practice setup for frontend tests - let's add it to the Dashboard.

[2015-06-15 21:04] mbland commented on #217
So everything's all deployed now (had to fix some webhook issues, too): #216; #218; #219; #220.

Will try to see if I can whip up a suitable test for #216 in the next few minutes.

[2015-06-15 21:09] yozlet commented on #217
Phwoar! You total ledge, Mike! (... as we say in London)

[2015-06-16 14:34] MaxGhenis opened #221 "CALC dashboard link from main page is broken"
https://18f.gsa.gov/dashboard/project/calc is linked from https://18f.gsa.gov/dashboard/ as the "Metrics" link in the CALC section. The link is broken.

[2015-06-16 20:11] mbland commented on #221
Thanks for the tip, @MaxGhenis!

[2015-06-16 20:11] #221 closed

[2015-06-18 14:31] gbinal opened #224 "Add norm for linking to live site"
When on the dashboard homepage, one workflow we don't readily support right now is getting straight to the actual project.  Two ideas come to mind once there's a production site to link to for a project:
* Add a similar link above `Code`, `Metrics`, `News` to something like `Live Site` or `Production Site` that links to the main project website.
* Find an elegant way to include a screenshot of the

[2015-07-06 18:12] gboone commented on #208
https://18f.gsa.gov/dashboard/project/pulse/

[2015-07-06 18:12] #208 closed

[2015-07-06 18:14] gboone commented on #179
I think this was closed in 18F/data-private#190

[2015-07-06 18:14] #179 closed

[2015-07-06 18:16] gboone commented on #158
I think this is the air force project: https://18f.gsa.gov/dashboard/project/sbirez/ (unless there's another one I don't know about)

[2015-07-06 18:16] #158 closed

[2015-07-06 18:17] #140 closed

[2015-07-06 20:10] gboone opened #233 "Standardize names of partner agencies"
Looking up partner agencies is a bit clunky right now because we're inconsistently naming them in the `partner` field. For example, on api.data.gov we list "GSA" among the partner agencies but elsewhere we spell out the full name "General Services Administration." We also use acronyms where we should be spelling out the full agency name. FCC for example is a commonly known agency but the National

[2015-07-07 14:34] wslack commented on #233
I can help with this; had to solve the same problem for intake tracking.

[2015-07-07 14:34] wslack opened #234 "404 link from Dashboard"
https://18f.gsa.gov/dashboard/project/fedspendingtransparency - the "Data Act" link on the dashboard leads to this 404 link

[2015-07-07 18:28] #189 closed

[2015-07-07 18:29] #125 closed

[2015-08-17 19:12] gbinal opened #240 "add 18f.gsa.gov and pif.gov"
Did we ever articulate the standard for what goes on /dashboard?

It occurs to me that 18f.gsa.gov and pif.gov are both live projects and would make sense on here.

[2015-08-26 17:39] vzvenyach opened #243 "Provide anchor links for project stages"
This comes up from time to time where I want a link to the particular stage in a project. Would be nice to do https://18f.gsa.gov/dashboard/stages#beta or https://18f.gsa.gov/dashboard/stages#alpha. Not urgent, but...

[2015-09-09 15:48] afeld commented on #243
You already can! Click the stage names from the top of https://18f.gsa.gov/dashboard/.

[2015-09-09 15:48] #243 closed

[2015-09-09 15:49] afeld opened #252 "projects missing from stages page"
Just got pointed out to me in an interview:

![18f_ _project_stage_definitions](https://cloud.githubusercontent.com/assets/86842/9766794/d52ba5ba-56e8-11e5-9cba-625e7b289963.png)

[2015-09-09 16:41] anthonygarvan opened #253 "myUSCIS code link nonsensical"
Hey,

I understand the USCIS project agreement predated 18F's open source policy, but it would still be nice to handle this gracefully somehow on the dashboard. Some options:

- Link to a "shell" github project containing a readme explaining that most of the code is closed source, but users can still open issues on this project, or email myUSCISSupport@uscis.dhs.gov.
- Don't show the link to "code

[2015-09-11 11:51] vdavez commented on #243
Oh. Right. :grimacing: Thanks @afeld!

[2015-09-18 13:45] mbland opened #254 "Contact links from .about.yml/Team API"
Hey @gboone, you'd mentioned being cool with just getting the data for the `contacts:` field from the Team API and posting it straight into the template, rather than parsing it as an email address or as a GitHub URL fragment as we do now. Would you want to have just a raw URL (`mailto:` or `https:` that you'd post as `<a href="{{ contact_url }}">{{ contact_url }}</a>`, or have an object with `url:

[2015-09-18 15:44] gboone commented on #254
Probably `contact.url` and `contact.text` I think.

[code]

something like that. That seems more extensible for the future, anyway.

[2015-09-18 17:19] mbland commented on #254
Sounds good to me.

cc: @melodykramer @jeremiak

[2015-10-01 00:58] dylanvalade opened #258 "No Projects Listed With Stage Definitions"
This page states that it should [list the projects currently in each stage](https://18f.gsa.gov/dashboard/stages/#alpha) but none are displayed. The projects are visible [on the dashboard](https://18f.gsa.gov/dashboard/).

[2015-10-01 03:36] Talhakh opened #259 "Remove usa prefix."
make things more semantic and more understandable.

[2015-10-02 18:32] DavidEBest commented on #252
This should be fixed with #255, which has been merged into staging. What is necessary to get it into production?

[2015-10-02 18:33] DavidEBest commented on #258
Thanks! This is actually a dupe of #252.

[2015-10-02 20:23] DavidEBest opened #260 "Github details (issues, stars & forks) are missing from all repos."
The script that pulls in the stats via the govcode api is no longer working.
<img width="352" alt="screenshot 2015-10-02 16 15 13" src="https://cloud.githubusercontent.com/assets/933586/10256689/d7b9a882-6920-11e5-8c94-cdc2611f54a1.png">

This appears to be an issue with the api. The SSL certificate expired yesterday.
<img width="1242" alt="screenshot 2015-10-02 16 21 37" src="https://cloud.github

[2015-10-05 10:33] ultrasaurus commented on #259
@Talhakh remove from where?  (I don't see anything on https://18f.gsa.gov/dashboard/ that has a "usa" prefix

[2015-10-05 10:34] #258 closed

[2015-10-05 13:07] DavidEBest commented on #252
@gboone What is the process to move the fix for this from staging into production?

[2015-10-05 14:21] gboone commented on #252
Pull request from the `staging` branch to the `production` branch. I'll get one going and tag you on it.

[2015-10-05 16:12] DavidEBest commented on #254
This is how a fully specified contact field looks on staging:
<img width="885" alt="screenshot 2015-10-05 12 06 35" src="https://cloud.githubusercontent.com/assets/933586/10286104/14ea861e-6b5a-11e5-82ec-64e5820400c4.png">

That is based on the following format:

[code]

Is that the expected format? If so, I'd be happy to submit a fix.

[2015-10-05 16:15] mbland commented on #254
Yep, that's the new `contact:` format. A fix is surely welcome, if @gboone or I don't get to it first.

[2015-10-05 16:18] DavidEBest commented on #254
Thanks, @mbland. I'll take a look, then.

[2015-10-05 21:43] DavidEBest commented on #260
Fixed by the wonderful folks behind govcode.org!

[2015-10-05 21:43] #260 closed

[2015-10-13 16:23] gboone opened #263 "EKIP API not appearing in production"
The EKIP team [added an .about.yml file about a week ago](https://github.com/18F/ekip-api/blob/master/.about.yml) but the project has not yet appeared on the Dashboard. Perhaps it's due to a validation error. cc: @OpenGlobe @mbland

[2015-10-13 16:29] mbland commented on #263
[code]

The `impact:` field has a line break, and doesn’t use YAML multiline syntax.

[2015-10-13 16:31] ultrasaurus opened #264 "about.yml parse errors should cause an annotation on project page..."
about.yml parse errors should cause an annotation on project page, ideally with a link to the specific error and a link to the failing about.yml file

depends on https://github.com/18F/team-api.18f.gov/issues/122

[2015-10-13 16:33] ultrasaurus opened #265 "add link to sprint planning (waffle, trello, or whatever)"

[2015-10-13 16:35] ultrasaurus opened #266 "add api link (if present)"
optional -
- link to API
- notes field: just be text for now, ideally markdown so it could include links, like ("experimental" or "beta" or "sign up at api.data.gov for an API key"

[2015-10-13 16:39] ultrasaurus opened #267 "If a project has multiple github code repositories, we should be able to show them..."
If a project has multiple github code repositories, we should be able to show them on the dashboard page in a way that feels natural to the 18F product leads, as well as developers on the project and doesn't confuse non-technical agency partners (who aren't the primary audience for this data, but need to be peripherally aware of it, so they can point their developers to it as needed).

- [x] Creat

[2015-10-13 18:24] melodykramer commented on #267
Who is the audience for the stages section?

[2015-10-13 20:17] melodykramer commented on #267
@ultrasaurus I want to wait until the stakeholders hash this out: https://github.com/18F/about_yml/pull/12/files#r41916977 before tackling an example. Not sure who to push for final decisions. (Or do you see this as something that will help those decisions surface?)

[2015-10-13 20:29] mbland commented on #267
@melodykramer I think we're thinking this might help hash out those decisions. I'm speaking with @brethauer about getting some UX folks to help organize and facilitate a Mural.ly session with representatives from across the team so that we can come to a shared understanding of project classifications and repo groupings, but it might help to have some ideas in-pocket.

[2015-10-16 17:57] DavidEBest commented on #264
@ultrasaurus @gboone @mbland Just to be clear - the dashboard is a public-facing resource. Are we all okay with putting the errors there? Or should they be exposed to the team via another mechanism?

[2015-10-16 18:08] mbland commented on #264
As a potential alternative, we could parse the "contact" field and either send an email or post an issue. That'd be a little more work, but it'd probably be a more reliable mechanism.

[2015-10-16 21:45] gbinal commented on #264
FWIW - I'm okay with errors being publicly visible on the dashboard.

[2015-10-16 21:57] ultrasaurus commented on #264
I'm ok with it too -- it's real!  Also if we point to the about.yaml, then people can find the actual information.  The yaml might be intimiditating for some folks, but if anyone really needs the info, that will be able to read it.

[2015-10-16 21:58] ultrasaurus opened #269 "send email to contact if about.yaml fails to parse"
related to:  https://github.com/18F/dashboard/issues/264

[2015-10-16 21:59] ultrasaurus commented on #264
love that idea @mbland -- wrote it up as a separate issue: https://github.com/18F/dashboard/issues/269.  Let's do this first, then add the notification!

[2015-10-19 12:54] DavidEBest commented on #263
Submitted PR to ekip to correct the error. https://github.com/18F/ekip-api/pull/222

[2015-10-19 13:17] melodykramer commented on #267
I would suggest doing the following on each child page - changes are in bold.

Full proper name of the **child** repo:

full_name:

 Name of the main **parent** repo if this is a sub-repo:

parent:

Maturity stage of **child** repo (required)
values: discovery, alpha, beta, live
stage:

Whether or not the **child** repo is actively maintained (required)
values: active, deprecated
status:

**Descri

[2015-10-19 13:23] melodykramer commented on #267
On the main project page, I would suggest having the following:

Name of project
Description of Project
Type of content in repo
Who owns repo

{{ if child repos exist }}

Full name of child repo with link
Description of child repo and how it fits into main repo
Maturity stage of child repo
Whether or not child repo is actively maintained

{{ end if child repo exists}}

Team members
Partners
Descri

[2015-10-19 13:31] ultrasaurus commented on #267
@melodykramer Would you be up for writing an example for a project or two so we can see what this would look like with content?

[2015-10-19 14:40] melodykramer commented on #267
parent repo model: https://gist.github.com/melodykramer/2c4aeabd2b17e8df5960

child repo model: https://gist.github.com/melodykramer/33ac2e19c40702a7a952

The child repo would only be visible if it exists and only the data mentioned in the previous comment would be visible. The two repos would be linked by the id.

[2015-10-19 16:00] DavidEBest commented on #264
In progress here: https://github.com/18F/team-api.18f.gov/issues/122

[2015-10-20 15:33] ultrasaurus opened #271 "Content Design for Midas (example of multi-repo project)"

[2015-10-20 15:52] ultrasaurus commented on #269
was: send email
better to comment on the PR so someone can fix before the broken thing shows up on the dashboard

[2015-10-20 15:54] ultrasaurus commented on #259
I'm closing this, our theory is it was filed in the wrong project.  If we're wrong, please re-open with more details.

[2015-10-20 15:54] #259 closed

[2015-10-20 15:58] #254 closed

[2015-10-20 16:00] DavidEBest commented on #252
Fixed with #262.

[2015-10-20 16:00] #252 closed

[2015-10-20 16:00] ultrasaurus commented on #9
this was resolved long ago, since we now have a live dashboard

[2015-10-20 16:00] #9 closed

[2015-10-21 20:49] DavidEBest commented on #269
It looks like this could be done by extending the [pshb.js](https://github.com/18F/team-api.18f.gov/blob/master/deploy/pshb.js) webhook a bit.

We'd need to:
- Expose the about_yml validate script (might be easier said than done)
- Create a validation path that is called when there is a push to a non-`default_branch` branch.
- If the push updated or added an .about.yml:
  - That validation path sh

[2015-10-21 21:19] mbland commented on #269
`psjb.js` has been renamed to [`project-data-updater.js` in the team-api-server npm](https://github.com/18F/team-api-server/blob/master/lib/project-data-updater.js). Just haven't gotten around to ripping out the old version from 18F/team-api.

`about_yml_validate` is part of the [`about_yml` gem](https://rubygems.org/gems/about_yml).

We actually shouldn't care about any branch but the default.

W

[2015-10-22 18:27] noahmanger opened #273 "C2 Related link text is broken"
![image](https://cloud.githubusercontent.com/assets/1696495/10674463/cb6187c8-78af-11e5-99b8-5204aa2eade5.png)

[2015-10-22 18:30] pkarman commented on #273
thanks, I think this is already fixed in master but we just haven't deployed it yet. See https://github.com/18F/C2/pull/727 -- is that the same issue?

[2015-10-22 18:40] noahmanger commented on #273
Oh probably.

On Thu, Oct 22, 2015 at 11:30 AM, Peter Karman notifications@github.com
wrote:

##

Noah Manger
18F http://18f.gsa.gov | Work: 415-696-6146

[2015-10-22 20:28] mbland commented on #273
Nope, that file is fixed. There were other errors preventing the Team API from rebuilding, addressed by 18F/18f.gsa.gov#1268 and 18F/openFEC#1291.

We'll get this brittleness fixed soon.

[2015-10-22 20:52] mbland commented on #273
OK, this is all good now:

![dashboard-c2-fixed](https://cloud.githubusercontent.com/assets/301547/10677945/4c76f622-78dd-11e5-8c56-84386ab83071.png)

[2015-10-22 20:52] #273 closed

[2015-10-26 21:33] DavidEBest commented on #266
Do we want to hold off on this (and the process links) until we figure out the standardization & release mechanism for the schema? Or try to get them implemented before the next 'release'?

[2015-10-27 09:36] ultrasaurus commented on #271
I did a simple mockup with Google Docs -- has a bit more info than just handling the multi-repo situation, but I think that provides important context:
https://docs.google.com/a/gsa.gov/document/d/13JsT_0iecI_bKufI6R8fc0TM5GOXzHGE2AgRHkep9Q0/pub

[2015-10-27 09:48] ultrasaurus opened #275 "Update USCIS (with mutilple repos)"
USCIS is a good example of a project with multiple repos.  This issue is for the content work related to making that data available on the dashboard.

- [ ] mockup what we want it to look like
- [ ] make it so about.yml and dashboard support that
- [ ] make the content changes

[2015-10-27 10:04] ultrasaurus commented on #253
thanks @anthonygarvan for opening up a github issue!  Sorry to be so late in responding.  It looks like this might have been partially addressed.  I don't see a link to the code here:  https://18f.gsa.gov/dashboard/project/uscis/  -- @DavidEBest did that get fixed in your effort to handle errors in a nicer way?

We're currently grappling with how we might represent projects which don't have a repo

[2015-10-27 15:42] DavidEBest commented on #267
Waiting for the card sorting on 11/3

[2015-10-27 15:45] DavidEBest opened #276 "Implement About.yml versioning"
https://github.com/18F/about_yml/issues/26

[2015-10-27 15:45] DavidEBest opened #277 "Formalize Release Process"

[2015-10-27 17:36] DavidEBest commented on #277
This actually belongs in the about_yml repo. Closing.

[2015-10-27 17:36] #277 closed

[2015-11-02 17:07] ultrasaurus opened #279 "Show repo description next to the repo URL"
the description in about.yml is a high-level description of the project.  In looking at Every Kid in a Park, we realized it would be valueable to have a separate short description of the repo, which we already are writing in github, so it would be great to just pull that data.

add this to the team API, since team API is already getting repo info

[2015-11-02 17:15] #263 closed

[2015-11-03 17:07] ultrasaurus opened #281 "as a comms leader, I want to review and approve staged content"
We need a way for comms to review all the new content in the dashboard and then push it live when it is good.

This implies that staging would use the live team API, but production might use some kind of static data copied from staging.

[2015-11-03 17:10] mbland commented on #269
cc: @mtorres253 We'll need to add a story to create a CI service for `.about.yml` validation (think "Travis for `.about.yml`").

[2015-11-03 17:16] ultrasaurus commented on #264
from sprint planning @gboone thinks this is good for now.  Improvements may be opened in the future as seprate stories.

[2015-11-03 17:16] #264 closed

[2015-11-03 20:38] gboone commented on #281
Steps:
- [x] Disable automatic team-api updates to production
- [x] Begin version controlling a copy of `projects.json` in [the `_data/` directory](https://github.com/18F/dashboard/tree/staging/_data)
- [x] Leave all Dashboard webhooks in place. Dashboard will update staging with new team-api data automatically, deploying to production will require review and a pull request to `production` in orde

[2015-11-10 16:36] ultrasaurus opened #285 "As a comms leader, I want the dashboard to show a curated list of projects"
At least on the home page, we would like the dashboard to show projects that someone with no knowledge of 18F would find interesting and no particular knowledge of any particular tech would be able to get a general sense of what we are working on by looking at this list.

Current thinking is the list would contain:
- internal projects with a dedicated team
- projects that have agency partners fund

[2015-11-10 16:51] ultrasaurus commented on #285
Proposed implmentation: dashboard would have a list of projects, maybe in `_data/projects.yml` or `_data/project-show.yml` or something which would be a list of project IDs and dashboard content would be filtered by that list.

[2015-11-10 17:01] ultrasaurus opened #287 "what do alpha and beta mean to people?"
This is a multistep story

- [x] talk to product owners, what do they mean when they label their project "alpha" or "beta"
- [ ] potential edit / refine content of stage definitions
- [ ] talk to users of the dashboard and see if they get what is meant by those when they read our definition

[2015-11-10 20:28] mtorres253 commented on #269
Created a in the team API project: https://waffle.io/18F/team_api/cards/56422991a2cfa30f0099399c

[2015-11-17 16:42] gboone commented on #276
Throwing this back in the icebox until we have word from the Team API whether there's any work that needs done on our end. Seems like there may not be any.

[2015-11-17 16:56] #285 closed

[2015-11-17 17:01] #279 closed

[2015-11-17 17:03] mbland commented on #269
Also addressed by 18F/about_yml#37.

[2015-11-18 16:53] mtorres253 opened #292 "Project stage filters are not working"
To duplicate
go to https://18f.gsa.gov/dashboard/
click on any one of the project stages (discovery, alpha, beta, live)

Expected behavior: you go to a page showing all projects in that stage

Actual behavior: you see an error (webpage not available)

[2015-11-23 21:00] gboone opened #297 "Setup script for oss adopters"
We should include a script that will setup this repo for someone outside of 18F looking to reuse this code. Right now a user would have to do the following:

1. Set up the project
1. Remove the _config.yml that's in the repo and rename the _config.yml.sample to _config.yml
1. Rename the projects.json.example file to "projects.json".

Now, if you run ./go serve now you should see something similar

[2015-12-01 16:42] gboone commented on #281
This is done. The projects.json wasn't version controlled because we found a better way to get fresh data on production. That better way is refreshing the data during deployment. Changes to the go script in #282 make that happen. Now, if we need to do a production deploy of _just the data_ we do it by triggering a production deployment. We can do that by redelivering one of the webhooks in this re

[2015-12-01 16:43] #281 closed

[2015-12-01 17:01] ultrasaurus opened #302 "as a product manger, I would like to preview my dashboard page before merging to master branch of my repo"
goal is to be able to see what the dashboard page will look like, making sure we stay in sync with dashboard and team API code

[2015-12-01 17:02] ultrasaurus commented on #302
@jeremiak and I will pair this week, with advice from @DavidEBest

[2015-12-01 17:23] ultrasaurus commented on #265
Resolved!

[2015-12-01 17:23] #265 closed

[2015-12-01 17:25] DavidEBest commented on #266
I think we should be able to close this. That okay with everyone?

[2015-12-01 17:25] #266 closed

[2015-12-08 16:48] gboone commented on #287
Related to 18F/team_api#38

[2015-12-08 17:09] melodykramer commented on #287
I'm going to assign myself to this.

[2015-12-08 17:11] gboone commented on #287
We think there are two kinds of stages:
1. Where the project is in our own process
2. How the team thinks about the status of their work in progress

There's a need for us to represent how much control over the product we have and where the work stands on the spectrum of our relationship with the partner agency. A product can be something we're working on (openFEC), something we aren't working on

[2015-12-08 17:16] ultrasaurus opened #304 "Research: user needs for compliance director"

[2015-12-08 17:28] ultrasaurus opened #305 "display projects with sub-projects"
based on [Open Opps mockup](https://docs.google.com/a/gsa.gov/document/d/13JsT_0iecI_bKufI6R8fc0TM5GOXzHGE2AgRHkep9Q0/pub) and TBD USCIS mockup, display projects that have related projects/repos, via child-about.yml's

[2015-12-09 15:42] melodykramer commented on #287
I really like Greg's suggestion that we ask projects to check off whether they're:

being actively worked on | not being actively worked on | passed off to a partner agency.

But I'm stumbling a bit around the term beta, in part because I imagine not of our projects may really ever leave the beta stage. Would it be ok to have the term beta on a site and not have it reflected on the dashboard? Coul

[2015-12-09 15:48] melodykramer commented on #287
I have the following questions out to the product leads:
- What do the terms alpha and beta mean to you?
-  Are there artifacts or specific milestones that happen before these labels can be applied or removed?
- How do you describe the qualitative status of your products?
- What, if any, terms can we use to meaningfully represent this on the dashboard?
- Would you rather omit these terms entirely

[2015-12-09 16:36] melodykramer commented on #287
Answers are here: https://docs.google.com/a/gsa.gov/document/d/12_D2OOqKmOompkgnWQBuMV9H6a9zvHmvhY5eNVVjO7s/edit?usp=sharing

[2015-12-09 17:29] mtorres253 commented on #287
I'm seeing a pattern at least. Beta means to people that the product is stable enough for public release and Alpha is a state where it's a real MVP, and we are just starting to gather user feedback

[2015-12-09 19:08] melodykramer commented on #287
Greg's synopsis of research: https://docs.google.com/document/d/1fHnKVB5UBA3uVgqKogOt360sVpBZsjjpH1ltMKZDiEM/edit

[2015-12-11 15:11] DavidEBest commented on #305
Does the Open Opps mockup really reflect the intention of this? That example includes two different concepts of parent-child relationships.

There are two code repos represented in the Open Opps project (each conceivably with their own .about.yml file) and two projects (Open Opps & Gov Connect). Which parent-child relationship should I be modeling with this issue? @ultrasaurus @gboone

Either one

[2015-12-14 16:06] DavidEBest commented on #267
This is related to https://github.com/18F/dashboard/issues/305.

There are two related but different concepts of parent to child that we are conflating at the moment:
- A project could have multiple sub-projects
- A project (or subproject) could have multiple code repos.

See [the Midas example](https://docs.google.com/document/u/1/d/13JsT_0iecI_bKufI6R8fc0TM5GOXzHGE2AgRHkep9Q0/pub) for a demonstr

[2015-12-14 16:06] DavidEBest commented on #305
This is related to issue #267.

[2015-12-14 17:21] DavidEBest commented on #267
Another option would be to use the .about.yml `links` section. We could add a `repo` type, and put those links in the code block.

[2015-12-14 18:00] ultrasaurus commented on #305
the following proposal was agreed upon in Sprint Demo:
- repo link type
- if it is in a related links list, we don't promote as full-fledged project

Would be nice for all 18F repos to have an about.yml

[2015-12-14 18:24] mbland opened #307 "Create a "discovery" trigger"
Per our Dashboard sprint issue: We need to find a place in the intake process whereby data is surfaced for "discovery" stage projects via the Team API.

[2015-12-15 20:57] mtorres253 opened #310 "Team API now returns 'blogTag' instead of 'blog'"
@gboone Same data, different label. So, this issue is for dashboard to consume this change.

[2015-12-15 20:58] mtorres253 commented on #310
https://github.com/18F/about_yml/issues/46

[2015-12-18 21:30] mtorres253 opened #314 "Research on updating about.yml"

[2015-12-21 16:35] DavidEBest commented on #292
@mtorres253 This appears to be resolved. Safe to close?

[2015-12-21 16:37] #234 closed

[2015-12-21 17:53] ultrasaurus opened #315 "As a Product Lead, I would like to see a note in preview that partner links aren't expected to work (yet)"
The preview feature does not yet support partner links.  It would be very helpful if under that section it said:

    Preview of the partner list is not yet available

[2015-12-21 18:10] ultrasaurus commented on #310
would be good to look for both 'blog' and 'blogTag' for now (preference on blogTag though we never expect both) -- this will make migration to new schema easier

[2015-12-21 18:11] #292 closed

[2015-12-21 18:11] ultrasaurus commented on #292
yep, I believe this is fixed!

[2015-12-22 16:50] jeremiak opened #319 "Research which fields we will want to be in the live preview"
We're unclear about how valuable the live preview is working, so we'll have to research that after we get the live preview

[2015-12-22 17:09] jeremiak opened #320 "Remap project life stage terms to words we think will be more valuable"
Discovery
Alpha
Beta
Live

[2015-12-22 17:10] jeremiak commented on #287
We've completed the research portion of this task, so we've created an implementation task #320

[2015-12-22 17:10] #287 closed

[2015-12-22 17:14] mtorres253 commented on #304
I will check the compliance toolkit channel to get more information about this request. @NoahKunin is on vacation but will circle with him when he gets back.

[2015-12-22 17:17] mbland commented on #269
[Update in 18F/about_yml#37](https://github.com/18F/about_yml/issues/37#issuecomment-165859223).

Still need to document how to integrate the MVP mechanism into one's Travis build.

[2015-12-22 18:51] #310 closed

[2015-12-22 22:20] #315 closed

[2015-12-23 18:54] mtorres253 opened #328 "Small display bug for C2 on dashboard preview"

[2015-12-23 18:56] mtorres253 commented on #328
<img width="816" alt="screen shot 2015-12-23 at 10 54 45 am" src="https://cloud.githubusercontent.com/assets/100149/11982862/dce06afc-a963-11e5-912f-f4fc0c11a313.png">

[2015-12-23 20:41] jeremiak commented on #302
Now live: https://18f.gsa.gov/dashboard/project/preview/?url=https://github.com/18F/dashboard/blob/staging/.about.yml

[2015-12-23 20:41] #302 closed

[2016-01-03 04:18] onceuponatimeforever opened #331 "Code links on front page link to github.com instead of github project page"
Hover over code links and you'll see they link to www.github.com homepage instead of the specific 18F project source code page on github.

[2016-01-05 15:11] gboone commented on #331
Thanks for the issue, @onceuponatimeforever. Upon further investigation, this seems to be the case only if the project's data file doesn't have a GitHub section. For example, [Every Kid in a Park](https://github.com/18F/dashboard/blob/staging/_data/projects/ekip-api.yml) has a `github` entry and it's [listing on the Dashboard](https://18f.gsa.gov/dashboard/) and [project page](https://18f.gsa.gov/

[2016-01-05 15:15] gboone opened #332 "Incorrect name for USCIS in partners file"
The [USCIS entry](https://github.com/18F/dashboard/blob/staging/_data/partners.yml#L29-L32) in partners.yml should have "United States Citizenship and Immigration Services" for `full_name`. This is causing a recursive link to the Dashboard page on the [USCIS project's partner section](https://18f.gsa.gov/dashboard/project/uscis/)

[2016-01-05 15:44] gboone opened #333 "Don't link agency URLs if there's no match"
Currently several partner listings are linking to the current page because the `partner` listed in the data file couldn't match one of the partners listed in `_data/partners.yml`.

Expected: If the listed partner doesn't match, it is not linked.

Examples in the wild: USCIS (see #332), [MyUSA](https://18f.gsa.gov/dashboard/project/myusa/) for "Small Business Administration" and "Department of Labo

[2016-01-05 16:41] #305 closed

[2016-01-05 17:02] melodykramer opened #334 "Incorrect link for betaFEC"
Clicking on betaFEC takes you to a 404: https://18f.gsa.gov/dashboard/project/betafec

[2016-01-06 16:28] DavidEBest commented on #334
@gboone This works locally for me, but both staging and production are broken.

[2016-01-06 17:22] gboone commented on #334
Guessing this is a capitalization thing. Stupid HFS+, https://18f.gsa.gov/dashboard/project/betaFEC/ is the URL it should point at, there _should_ be a redirect to make the URL respond to both `betafec` and `betaFEC` See #330

[2016-01-07 07:01] quepol commented on #334
Confirming the CAPS thing. If you click the `Metrics` link it is being generated correctly: https://18f.gsa.gov/dashboard/project/betaFEC

[2016-01-11 17:52] ultrasaurus opened #341 "font awesome symbols not showing up with teleport"
maybe in the UK:  http://s-s.18f.gsa.gov.prx.uk.teleport.to/dashboard/
![image](https://cloud.githubusercontent.com/assets/41906/12241587/e8418ebe-b848-11e5-9fdc-9fd0bd6c9d3c.png)

should look like this:
![image](https://cloud.githubusercontent.com/assets/41906/12241604/fb5c82ec-b848-11e5-8c16-b5e1a51d683a.png)

[2016-01-11 17:53] ultrasaurus commented on #341
![image](https://cloud.githubusercontent.com/assets/41906/12241622/2163ec32-b849-11e5-929e-b1eab6a75c0d.png)

[2016-01-11 17:54] ultrasaurus commented on #341
this is probably just teleport...?

[2016-01-11 17:55] ultrasaurus commented on #341
cross-origin issue wouldn't happen in real-life, closing...

[2016-01-11 17:55] #341 closed

[2016-01-11 17:58] #331 closed

[2016-01-11 18:01] #332 closed

[2016-01-11 18:03] #333 closed

[2016-01-12 15:10] #334 closed

[2016-01-12 16:30] DavidEBest commented on #304
@afeld is writing up a page on SSPs here: https://github.com/18F/before-you-ship/pull/67

[2016-01-12 16:52] ultrasaurus commented on #267
the code to support multiple repos is now live in dashboard, separate issues exist for the content changes

[2016-01-12 16:52] #267 closed

[2016-01-12 16:54] melodykramer opened #343 "Add better descriptions for "impact" and "description" for items on dashboard"
As a user, I want to know the impact that each project has - as well as a detailed description for why each product was created in the first place.

[2016-01-12 16:54] melodykramer commented on #343
https://docs.google.com/spreadsheets/d/1tCGfeLIzcRwyXXrNkxljRp0TTTQcxzojhFsNooe0UOs/edit

[2016-01-12 16:57] DavidEBest commented on #328
Bug is related to the liquid.js implementation. We need to either submit a bug report to the upstream repo or find a workaround.

[2016-01-12 17:01] afeld commented on #304
@ultrasaurus Hopefully most of your questions should be answered in there...would love feedback!

SSPs are provided in order for the ATO to be completed. That being said, I think the intention is that it should be kept up-to-date by the project team, so we _could_ add one if folks think it would be useful.

Good point! We can change the schema however we want, so if you have specific suggestions,

[2016-01-12 17:22] ultrasaurus opened #344 "Add Projects that are in Discovery"
- [ ] what projects are active and in discovery?
- [ ] reach out to product leads to make project or about.yml files

[2016-01-12 18:06] melodykramer commented on #275
https://github.com/18F/data-private/blob/about-yml/projects/uscis.yml This is the work that I did in this repo based on talking to the members of the USCIS team. As you will see, it doesn't look radically different than the way it looked before - but is more comprehensive and details more about the project.

[2016-01-14 20:51] melodykramer commented on #343
Have they been added to repo on branch update-about-yml

C2 - YES
CALC - YES

[2016-01-19 16:38] ultrasaurus opened #346 "Synthesize & Summarize Research"

[2016-01-21 03:55] ArcTanSusan commented on #343
(Note that the google doc linked above isn't publicly accessible for all users. Not sure if that's the intention.)

[2016-01-21 03:58] ArcTanSusan commented on #328
How do I access the dashboard preview?

[2016-01-21 13:27] DavidEBest commented on #328
The preview is a work-in-progress.
Here's an example: https://dashboard.18f.gov/project/preview/?url=https://github.com/18F/openopps-platform/blob/dev/.about.yml

It will parse and attempt to display any about.yml in a github repo.

[2016-01-25 07:26] meiqimichelle commented on #346
Whew! All the research.

I've created a homepage for the wiki and added links to a draft [problem statement](https://github.com/18F/dashboard/wiki/Problem-Statement) and [hypotheses](https://github.com/18F/dashboard/wiki/Hypotheses) that are drawn from the many pages of related research. The research itself I've summarized (and copied where appropriate) into a new research branch in this repo [her

[2016-01-25 07:27] meiqimichelle opened #347 "Put Ethnio up on live dashboard"
We need to talk to more external users of the dashboard to understand what their coming to the site for. A great way to do this is to use Ethnio. Also, [here](https://docs.google.com/document/d/1l_bBtl93Z3sOyDvjSCOj2rNJyQC24SkNxaNx0-8w-vA/edit#heading=h.epvc6a6d8gih) is the old screener Liz put together that we can start from.

[2016-01-25 07:29] meiqimichelle opened #348 "Finalize project hypotheses and problem statement"
I created draft a problem statement and hypotheses as an output of #346 . We now as a team need to review those and come to consensus on what we're working towards.

[2016-01-25 17:32] meiqimichelle commented on #347
Also, I chatted with @gboone and @melodykramer. There is more documentation around external user needs on the 18f site from Project Intake and other places. I'm working with them to track it down and add to the research branch.

[2016-01-26 15:51] andrewmaier commented on #346
:popcorn:

[2016-01-26 16:01] gboone commented on #347
Here's a [research page](https://github.com/18F/beta.18f.gov/wiki/Research) in the wiki for beta.18f.gov

[2016-01-26 17:22] ultrasaurus commented on #343
@mtorres253 we would like these to be on the dashboard, let's chat about an effective way to make this happen

[2016-01-26 17:26] ultrasaurus commented on #347
@gboone would like this on 18f.gsa.gov

[2016-01-27 19:21] ultrasaurus commented on #217
chated with @DavidEBest -- we're going to put this on hold, since it seems like there is a lot of new thinking about visual/interation design

[2016-01-30 19:42] wslack opened #351 "Include a one-click GitHub issue submission template to each dashboard item"
The problem and impacted users: it can be difficult for people unfamiliar with github to open issues and submit feedback

 Idea to address the problem: create a URL for each dashboard entry that links to a New Issue page with a pre-formatted issue prompt. [Here's an example link for this repo.](https://github.com/18F/dashboard/issues/new?title=Dashboard%20Issue%20(edit%20this%20title!)&body=_Filed

[2016-01-31 08:11] brentschneider opened #352 "dashboard project reference to C2 is resolving to 404 page"
From the dashboard, the C2 project url referance is lower cased, resulting to a 404 error.
The project seems to be uppercase, not sure where to change this.
https://18f.gsa.gov/dashboard/project/C2/

[2016-02-08 21:28] mtorres253 commented on #343
Hi, I've done a bit of research on 'billable' projects that are currently being billed:
FEC, Pulse, Open Opps, EITI, NASA Climate Discovery, College Scorecard, ATF eRegs

The only two that aren't on the dashboard are the NASA Climate Discovery and ATF eRegs. There are a lot of consulting projects too. Not sure what we want to do with that. The Dashboard seems very delivery focused at the moment

[2016-02-10 17:35] melodykramer opened #354 "Dashboard Examples"
We're in the beginning phases of rethinking what the 18F dashboard could be and what different audiences it could serve.

As part of our research, we're curious: What are you favorite examples of dashboards and why?

[2016-02-10 17:39] melodykramer commented on #354
Mine:

[Kickstarter Discovery dashboard](https://www.kickstarter.com/discover?ref=nav) - I like that has different sorting mechanisms for different audiences

[Ted Talks](https://www.ted.com/talks) - I like that the mechanisms for discovery include emotional terms

https://thoughtbot.com/open-source (developer focused)
http://www.kiva.org/lend#/ (good filters and progress graphics)
http://pivotal.

[2016-02-13 07:28] mattcassity commented on #354
http://dashboard.imamuseum.org/

[2016-02-16 16:36] melodykramer commented on #354
I like that one @mattcassity.

[2016-02-16 17:01] ultrasaurus commented on #344
this is now covered by https://github.com/18F/dashboard/issues/343

[2016-02-16 17:01] #344 closed

[2016-02-29 21:25] nickbristow opened #358 "508 Issues from pa11y-rails"
Results can be recreated using [HTML_CodeSniffer](http://squizlabs.github.io/HTML_CodeSniffer/)

## Results for https://18f.gsa.gov/dashboard/:
* __Error:__ This element has insufficient contrast at this conformance level. Expected a contrast ratio of at least 3:1, but text in this element has a contrast ratio of 2.85:1. Recommendation: change background to #949494.
 * WCAG2AA.Principle1.Guideline

[2016-03-31 00:02] mitharris opened #360 "404 error page"
Receive a 404 error here: https://18f.gsa.gov/dashboard/project/C2

[2016-03-31 00:02] mitharris commented on #360
this is a duplicate. sorry.

[2016-03-31 00:02] #360 closed

[2016-04-19 11:11] toolness opened #361 "Link to ekip-related blog posts on ekip project page?"
Hi!

A blog post I frequently want to show friends and colleagues when I'm telling them about 18F is [How to design a government site for kids](https://18f.gsa.gov/2015/09/03/every-kid-in-a-park/). The web search I keep doing to find it is "Every kid in a park", though, which always takes me to the dashboard project page for ekip, and doesn't have links to any of the blog posts about ekip.

Would

[2016-07-26 19:44] afeld opened #363 "consolidate dashboards"
Right now, we have https://18f.gsa.gov/dashboard and https://dashboard.18f.gov. The latter is out-of-date, but @gboone just [mentioned](https://18f.slack.com/archives/wg-documentation/p1469559568000345) that the former will be removed as part of the 18F homepage redesign. I know https://github.com/18f/projects was meant to be the new home for this stuff, but not sure what the current state of it i

[2016-07-26 20:07] brendansudol commented on #363
I think we should remove https://18f.gsa.gov/dashboard (as well as the dashboard code in 18f main site repo); 18f/projects should be kept; its work is ongoing though progress is slower than I hoped for as of late given other work commitments, but will be resumed soon!

[2016-08-01 15:26] afeld commented on #363
Ha, and just remembered https://pages.18f.gov/team-browser/ (which is redirected to from https://hub.18f.gov/projects).